.wrapper {
  overflow: hidden;
}
.container {
  margin: 0 auto;

  max-width: 1410px;
  padding: 0 20px;
  display: content-box;
}
.box {
  margin: 0 auto;

  max-width: 1171px;
  padding: 0 20px;
  display: content-box;
}
