.choose {
    &__subheading {
        text-align: center;
        font-family: "Open Sans", sans-serif;
        font-weight: 700;
        font-size: 40px;
        line-height: 135%;
        margin-bottom: 21px;
    }

    &__info {
        font-family: "Gilroy", sans-serif;
        font-size: 16px;
        line-height: 150%;
        text-align: center;

        color: #666666;
        margin-bottom: 55px;
    }

    &__row {
        display: flex;
        margin: 0 -15px;
    }

    &__column {
        flex: 0 1 33.3%;
        padding: 0 15px;
    }

    &__item {
        background-color: #fff;
        transition: all 0.3s ease 0s;
        &:hover {
            box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.1);
        }
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    &__body {
        padding: 25px 30px 50px 30px;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    &__image {
        text-align: center;
        img {
            max-width: 100%;
        }
    }

    &__label {
        font-family: "Gilroy", sans-serif;
        font-weight: bold;
        font-size: 24px;
        line-height: 117%;
        text-align: center;
        margin-bottom: 22px;
    }

    &__text {
        font-family: "Gilroy", sans-serif;
        font-size: 15px;
        line-height: 150%;
        text-align: center;
        color: #aaaaaa;
        margin-bottom: 39px;

        flex: 1 1 auto;
    }

    &__wrap-more {
        text-align: center;
    }
    &__more {
        padding: 15px 36px 15px 46px;
        font-family: "Gilroy", sans-serif;
        font-weight: bold;
        font-size: 13px;
        line-height: 150%;

        text-align: center;

        color: #ffffff;
        margin-bottom: 50px;
        background: #f25822;
        box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
        border-radius: 50px;
        transition: all 0.3s ease 0s;
        &:hover {
            background-color: lightgreen;
            color: #666;
        }
    }
}
